<div class="container" id="coin-information">
  <div class="main-info">
    <img src="{{image}}" alt="{{id}}">
    <div class="main-info-text">
      <h2 class='coin-title'>{{name}}</h2>
      <p class="info-symbol">{{symbol}}</p>
      <p class="info-value">{{value}}</p>
      <p class="info-genesis">Date of genesis: {{genesisDate}}</p>
      <a class="info-website" href="{{homePage}}" target="_blank">Website</a>
    </div>
  </div>
  <div class="description-info">
    {{{description}}}
  </div>
  <div class="price-info">
    <h2>Current price</h2>
    <div class="price-row">
      <div class="price-card">
        <p class="price-currency">USD</p>
        <p class="price-value">{{currentPrice.usd}}</p>
      </div>
      <div class="price-card">
        <p class="price-currency">EUR</p>
        <p class="price-value">{{currentPrice.eur}}</p>
      </div>
      <div class="price-card">
        <p class="price-currency">RUB</p>
        <p class="price-value">{{currentPrice.rub}}</p>
      </div>
    </div>
    <div class="price-row">
      <div class="price-card">
        <p class="price-currency">BTC</p>
        <p class="price-value">{{currentPrice.btc}}</p>
      </div>
      <div class="price-card">
        <p class="price-currency">GBP</p>
        <p class="price-value">{{currentPrice.gbp}}</p>
      </div>
      <div class="price-card">
        <p class="price-currency">BRL</p>
        <p class="price-value">{{currentPrice.brl}}</p>
      </div>
    </div>
  </div>
</div>