<div class="container">
  <h1>Cryptonit</h1>
  <p class="subtitle">Choose your favourite cryptocurrency</p>
  <ul class="coin-list">
    <li>
      <div class="table-column">Logo</div>
      <div class="table-column">Name</div>
      <div class="table-column">Symbol</div>
      <div class="table-column">Current price (USD)</div>
    </li>
    {{#each data}}
      <li class='coin-row'>
        <div class="table-column"><img class="coin-icon" src="{{image}}" alt="{{id}}"></div>
        <div class="table-column"><span>{{name}}</span></div>
        <div class="table-column"><span>{{symbol}}</span></div>
        <div class="table-column"><span>{{currentPrice}}</span></div>
        <a href="coins/{{id}}"></a>
      </li>
    {{/each}}
  </ul>
</div>