<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
  </head>
  <body>
    <header>
      <a class="logo" href="/">Cryptonit</a>
      <nav>
        {{#if logged}}
          <div class="user-nav-info">Welcome, <span id="userName">{{userName}}</span></div>
          <a class="btn btn-secondary" href="/logout">Log out</a>
        {{else}}
          <a class="btn btn-secondary" href="/login">Log in</a>
          <a class="btn btn-primary" href="/signup">Sign Up</a>
        {{/if}}
      </nav>
    </header>
    {{#if logged}}
      <div id="open-chat"><i class="fas fa-comments fa-2x"></i></div>
      <form style="display: none" id="chat">
        <i class="far fa-3x fa-times-circle close-chat" id="close-chat"></i>
        <div class="chat-title">CryptoChat</div>
        <div id="chat-window">
          <div id="output">
            {{#each messages}}
              <p class="message-container"><span class="message-text">{{message}}</span><span class="message-info"><strong>{{user}}</strong>{{time}}</span></p>
            {{/each}}
          </div>
          <div id="feedback"></div>
        </div>
        <div class="message-input-section">
          <input type="text" id="message" autocomplete="off" placeholder="Message Text" />
          <button id="send" type="submit">Send</button>
        </div>
      </form>
    {{/if}}
    {{{body}}}
    <script src="/chat.js"></script>
  </body>
</html>
