<div class="container">
  <div class="info-container">
    {{#each errors}}
      <div class="form-error">{{text}}</div>
    {{else}}
    {{/each}}
    <form class='main-form' action="/login" method="post">
      <h2>Log In</h2>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-button">Log In</button>
      </div>
    </form>
  </div>
</div>