<div class="container">
  <h1>{{title}}</h1>
  <div class="info-container">
    {{#each errors}}
      <div class="form-error">{{text}}</div>
    {{else}}
    {{/each}}
    <form class='main-form' action="/signup" method="post">
      <h2>Register New Account</h2>
      <div class="form-group">
        <label for="name">Your name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Your name">
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="passwordConfirm">Confirm Password</label>
        <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Confirm Password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-button">Sign Up</button>
      </div>
    </form>
    <div class="login-start">
      <p>Already registered?</p>
      <a href="/login">Log In</a>
    </div>
  </div>
</div>
