/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***************************/

body {
  font-family: 'Varela Round', sans-serif;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343A40;
  margin-bottom: 30px;
}

.logo {
  text-transform: none;
  font-size: 20px;
  font-family: 'Baloo Bhaijaan', cursive;
}

header a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

header nav {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: 1px solid rgba(255, 255, 255, 0.521);
  margin: 0 5px;
  padding: 10px 15px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #fff;
  color: #343A40;
  border: none;
}

.btn-primary:hover {
  background-color: #AA44FC;
  color: #fff;
}

.btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.199);
}

/********************/
body {
  background-color: rgba(0, 0, 0, 0.055);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: 'Baloo Bhaijaan', cursive;
  font-size: 40px;
  color: #AA44FC;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.subtitle {
  font-family: 'Baloo Bhaijaan', cursive;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #343A40;
}

.info-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
}

.main-form {
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-around;
  border: 2px solid #F8F9FA;
  border-radius: 20px;
  background-color: #fff;
  flex-basis: 100%;
}

.main-form h2 {
  margin-bottom: 20px;
  color: #343A40;
}

.form-group {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  margin: 15px;
}

.form-group label {
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.form-group input {
  outline: none;
  width: 300px;
  border: 2px solid #F8F9FA;
  padding: 10px 20px;
}

.form-group input:focus {
  outline: 1px solid #AA44FC;
  bottom: none;
}

button {
  cursor: pointer;
}

.form-button {
  width: 150px;
  text-transform: uppercase;
  background-color: #AA44FC;
  color: #fff;
}

.form-button:hover {
  background-color: rgb(107, 51, 153);
}

.login-start {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-basis: 100%;
}

.login-start p {
  font-size: 14px;
  margin-bottom: 15px;
  flex-basis: 100%;
  color: rgba(0, 0, 0, 0.712);
}

.login-start a {
  font-size: 14px;
  display: block;
  padding: 10px 0;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;;
  width: 150px;
  background-color: #fff;
  color: #AA44FC;
}

.login-start a:hover {
  color: #343A40;
}

/***************/
.welcome {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  flex-basis: 100%;
}

.b1 {
  font-size: 80px;
  background-color: #AA44FC;
  color: #fff;
  flex-basis: 70%;
}

/********************/
.coin-list {
  width: 100%;
  color: #343A40;
  margin-bottom: 20px;
}

.coin-list li {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 15px;
}

.coin-list li:first-child {
  font-size: 14px;
}

.coin-list .coin-row {
  background-color: rgba(255, 255, 255, 0.445);
  margin-bottom: 10px;
  border-radius: 20px;
  transition: all 0.3s ease-out
}

.coin-list .coin-row a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.coin-list .coin-row:hover {
  background-color: #fff;
  color: #AA44FC;
  transition: all 0.5s ease-out;
}

.table-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 25%;
}

.coin-icon {
  width: 50px;
  height: 50px;
}

/****************/
.main-info {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
}

.main-info img {
  margin-right: 40px;
  width: 180px;
  height: 180px;
}

.main-info-text {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.coin-title {
  text-transform: uppercase;
  font-size: 40px;
}

.info-symbol {
  text-transform: uppercase;
  flex-basis: 100%;
}

.info-genesis {
  flex-basis: 100%;
}

.info-website {
  color: #AA44FC;
  text-decoration: none;
}

.info-website:hover {
  color: rgb(107, 51, 153);
}

.description-info {
  font-size: 14px;
  line-height: 22px;
}

.description-info a {
  text-decoration: none;
  color: #AA44FC;
}

.description-info a:hover {
  color: rgb(107, 51, 153);
}

.price-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.price-info h2 {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 15px;
  flex-basis: 100%;
  text-align: center;
}

.price-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: space-between;
  padding: 10px 0;
}

.price-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 2px solid #F8F9FA;
  padding: 20px;
  flex-basis: 27%;
  border-radius: 20px;
}

.price-currency {
  margin-bottom: 15px;
  flex-basis: 100%;
  font-size: 22px;
  text-align: center;
}

.price-value {
  color: #AA44FC;
}

.main-info,
.description-info,
.price-info {
  border: 2px solid #F8F9FA;
  border-radius: 20px;
  background-color: #fff;
  padding: 30px;
  margin-bottom: 40px;
}

/**********/
.form-error {
  border: 2px solid rgb(218, 163, 161);
  color: #9B2869;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  flex-basis: 50%;
  text-align: center;
  margin-bottom: 10px;
  background-color: #FBDAD9;
}

.user-nav-info {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 14px;
  margin-right: 20px;
}

/** Chat Styles **/
#open-chat {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  bottom: 30px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #AA44FC;
}

#chat {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  box-sizing: border-box;
  width: 300px;
  bottom: 10px;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  right: 20px;
  z-index: 9999;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

#chat-window {
  height: 400px;
  overflow: auto;
  width: inherit;
}

.close-chat {
  position: absolute;
  right: 0;
  top: -55px;
  cursor: pointer;
  color: #343A40;
}

.close-chat i {
  color: #343A40;
}

.chat-title {
  font-family: 'Baloo Bhaijaan', cursive;
  color: #AA44FC;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.message-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #F1F1F1;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
}

.message-text {
  font-size: 14px;
  flex-basis: 100%;
  margin-bottom: 5px;
  word-break: break-all;
}

.message-info {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.384);
}

.message-info strong {
  margin-right: 5px;
}

.message-input-section {
  width: inherit;
  display: flex;
  justify-content: space-between;
}

#message {
  flex-basis: 80%;
  border: 1px solid #AA44FC;
  border-radius: 10px 0 0 10px;
  outline: none;
  padding: 5px 10px;
}

#send {
  flex-basis: 20%;
  background-color: #AA44FC;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  color: #fff;
}

#feedback em {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.384);
}